# Contains configuration for:
# magit
# delta (https://github.com/dandavison/delta)

[user]
	name = Taylor Hodge
	email = j.taylor.hodge@gmail.com
	signingkey = /Users/jth/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers
[color]
	ui = auto
# [credential]
#	helper = osxkeychain
[core]
	editor = nvim
	pager = delta
	hooksPath = ~/.config/git/hooks
	excludesfile = ~/.config/git/ignore
[push]
	default = upstream
	autoSetupRemote = true
[commit]
	gpgsign = true
	verbose = true
[merge]
	conflictstyle = diff3
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	alias = config --get-regexp ^alias\\.
	co = checkout
[init]
	defaultBranch = main
[github]
	user = jthodge
[forge]
	remote = origin
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
	algorithm = histogram
	colorMoved = default
	mnemonicPrefix = true
[fetch]
	prune = true
[rerere]
	enabled = true
	autoupdate = true
[branch]
	sort = -committerdate
[tag]
	sort = -version:refname
[column]
	ui = auto
